@use '../custom' as *;
@use '../components/mixins' as *;

.testimonials {
    position: relative;
    padding: 0;
    @include gradient;

    &--card {
        background-color: rgba($white, .8);
        padding: 2rem 1.25rem;
        border-radius: .625rem;
        height: auto;
        text-align: center;

        i {
            font-size: 1.5rem;
            color: rgba($primary, .7);
        }

        .ratings {

            i {
                color: rgba($primary, .7);
                font-size: 1rem;
                padding: 1.3rem 0;
            }
        }
    }

    &--picture {
       
        position: relative;
        display:flex;
        justify-content: center;
        transform: translateY(-50%);

        img {
            float: left;
            width:  100px;
            height: 100px;
            object-fit: cover;
            border:.325rem solid rgba($primary, .7);

        }
    }

    &--name {
       transform: translateY(-40%);
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 500;
        color: $white;
        

        h3 {
            padding-top: .8rem;
            text-transform: capitalize;
        }

        p {
           
            text-transform: capitalize;
        }
    }
}
