@use '../custom' as *;

// GRADIENT MIXIN
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, .95), rgba($secondary, .95));
}

// ABSOLUTE CENTER
@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//TRANSITION
@mixin transition_property {
    transition: 1s all;
}
